/* body{
    background-color: #08AEEA;
    background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
} */

#left-side{
    background-color: #08AEEA;
    background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
}

#right-side{
    background-color: white;
}

.roboto-medium {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
  }

.roboto-bold {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
  }

a:hover{
    color: #86efac;
}
